* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
body{
    width: 100%;
    background-color: #333333;
}

/* 
* primario: #dd2c5e
* secundario: #fcecf0
* oscuro: #333333
*/

header, footer{
    background-color: #dd2c5e;
    color: #fcecf0;
    width: 100%;
}
header .logo img{
    display: block;
    margin: auto;
}

.rrss {
    width: 100%;
    height: 5.5vh;
    text-align: center;
    padding: 0.5rem 0 0 0;
}

.rrss ul{
    display: inline;
}

.rrss li {
    display: inline-block;
    padding: 0.5rem;
    margin: 0 1rem;
}
.rrss a{
    text-decoration: none;
    color: #fff;
}

nav {
    text-align: center;
}
nav ul{
    display: inline;
}
nav li{
    display: inline-block;
    width: 100px;
    padding: 1rem 0;
    text-align: center;
}
nav li div {
    display: inline-block;
    padding: .5rem 0;
    width: 50%;
}
nav .seleccionado {
    border-bottom: 2px solid #fcecf0;
}

/* MAIN */
.juegos{
    width: 80%;
    margin: auto;
}
.tarjeta-juego {
    margin: 2rem auto;
    width: 25rem;
    max-width: 25rem;
    border-radius: 25px;
    background-color: #fff;
    min-height: 24vh;
}
.tarjeta-juego-imagen img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.tarjeta-juego-imagen img{
    width: 100%;
}
.tarjeta-juego-titulo p{
    text-align: left;
    font-weight: bold;
    padding: 1em;
}
.tarjeta-juego-descripcion
{
    text-align: left;
    padding: 0.5em 1em 2em 1em;
    color: #3f3f3f;
}
.tarjeta-juego-descripcion ul
{
    list-style: none;
}

/* footer */
footer{
    margin-top: 10rem;
}